<header>
	<div class="nav-container">
	<div class="logo">
		<a href="{{ path('main_index') }}"><img src="/img/logo.png"></a>
		<a href="{{ path('main_index') }}">Ludotek</a>
	</div>
		<div class="nav-links">
			<a href="{{ path('main_about') }}">
				A propos
			</a>
			<a href="{{ path('game_list') }}">
				Catalogue
			</a>
			<a href="{{ path('game_create') }}">
				Ajoter un jeu
			</a>
			<a href="{{ path('user_login') }}">
				Connexion
			</a>
			<a href="{{ path('user_signup') }}">
				Inscription
			</a>
		</div>
	</div>
</header>
